<main ng-cloak ng-controller="dataCtrl">

    <aside class='aside-toc'>
        <div class="toc" >
            <h4><b>Contents</b></h4>
            <ul>
                <li ng-repeat='item in ngToc track by $index'>
                    <a ng-click='scrollTo(this)' href=''>{{item.contents}}</a>
                </li>
            </ul>
        </div>
    </aside>


    <div ng-toc-target="h4">
    <h1>Team</h1>
    <br>
    <h4>Principal Investigators</h4>
    <p>
        <a href="http://www.iit.upcomillas.es/people/ignacio"> Prof. Ignacio Pérez Arriaga</a>, MIT, IIT-Comillas, ASR <br>
        <a href="http://mitei.mit.edu/research/energy-faculty/robert-stoner"> Dr. Robert Stoner</a>, MIT <br>
        <a href="http://www.iit.upcomillas.es/people/cuadra"> Prof. Fernando de Cuadra</a>, IIT-Comillas <br>
        <a href="https://www.iit.upcomillas.es/people/palacios"> Prof. Rafael Palacios</a>, IIT-Comillas <br>
        <a href="http://www.iit.upcomillas.es/people/cmateo"> Dr. Carlos Mateo</a>, IIT-Comillas <br>
        <a href="http://www.iit.upcomillas.es/people/pduenas">Dr. Pablo Duenas-Martinez</a>, MIT, IIT-Comillas <br>
    </p>
    <br>
    <h4>PhD students</h4>
    <p>
        <a href="https://www.linkedin.com/in/santos-diazpastor/">Santos Díaz Pastor</a>, IIT-Comillas, Impact Bridge <br>
        <a href="https://www.linkedin.com/in/mohamed-elabbas-871527106/">Mohamed Elabbas</a>,  IIT-Comillas <br>
        <a href="https://www.iit.comillas.edu/personas/orico">Olga Rico Díez</a>,  IIT-Comillas <br>
        <a href="https://www.iit.comillas.edu/personas/hmeresa">Hagos Meresa Weldu</a>,  S.M. ’12, Ph.D. student, IIT-Comillas <br>

    </p>
    <br>

    <h4>Undegraduate students</h4>
    <p>
        <a href="https://es.linkedin.com/in/carlos-mazuecos-re%C3%ADllo-15250a263/">Carlos Mazuecos</a>,  IIT-Comillas <br>
        <!-- Ethan Clarke-Hampton Harrison, S.M. '24, MIT <br> -->
    </p>
    <br>

    <h4>Waya Energy</h4>
    <p>
        <a href="https://www.linkedin.com/in/reja-amatya-402ab31b/">Dr. Reja Amatya</a>, MIT <br>
        <a href="https://www.linkedin.com/in/andres-gonzalez-garcia/">Andres Gonzalez Garcia</a>, IIT-Comillas, MIT<br>
        <a href="https://www.linkedin.com/in/clara-p%C3%A9rez-and%C3%BAjar-carreti%C3%A9-68a7a2127/">Clara Pérez de Andújar</a>, S.M. '18 IIT-Comillas <br>
        <a href="https://www.linkedin.com/in/mariagarciaalmenta/">María García-Almenta Poole, B.A.'22 UC3M</a><br>
    </p>
        
    <h4>Research Affiliates</h4>
    <p>
        <a href="https://es.linkedin.com/in/julioeisman/">Julio Eisman Valdes</a> <br>
        <a href="https://www.linkedin.com/in/eduardo-sanchez-jacob/">Eduardo Sánchez</a> <br>
        <a href="http://www.iit.comillas.edu/people/pciller">Dr. Pedro Ciller</a> <br>
    </p>

    <br>
    <hr>
    <hr>
    <br>

    <!--
        <h4>Past Group Members</h4>

        Serena Patel, S.M. '24, MIT <br>
        Rameen Hayat Malik, S.M. '24, MIT <br>

        <a href="https://www.iit.comillas.edu/people/pmastropietro">Dr. Paolo Mastropietro</a>, IIT-Comillas <br>
        <a href="http://stephenjl.com">Dr. Stephen J. Lee</a>, S.M. '18, Ph.D. '23, MIT <br>
    <p>
        Aparna Kulkarni, S.M. '22, MIT <br>
        <a href="https://www.linkedin.com/in/matthew-brusnahan/">Matthew Brusnahan</a>, S.M. '18, MIT <br>
        <a href="https://idss.mit.edu/staff/gregoire-jacquot/">Gregoire Jacquot</a>, S.M. '19, MIT <br>
        <a href="https://www.linkedin.com/in/barbarmarc/">Marc Barbar</a>, S.M. '19, Ph.D. '22, MIT <br>
        Dr. Jerome Nsengiyaremye, MIT Postdoc <br>
        <a href="https://www.linkedin.com/in/luc%C3%ADa-gil-vizca%C3%ADno-a4179b200/?originalSubdomain=es">Lucía Gil Vizcaíno, IIT-Comillas</a><br>
        Marta Martinez Murcia <br>
        Carlos de Abajo <br>
        <a href="https://www.linkedin.com/in/lama-aoudi-5528bb8b/">Lama Aoudi</a>, S.M. '21, MIT <br>
        <a href="https://www.iit.comillas.edu/people/2772">Bodo Schröder</a>, S.M. '19, IIT-Comillas <br>
        <a href="https://roxannerahnama.com/">Roxanne Rahnama</a>, S.M. '18, MIT <br>
        <a href="https://scholar.google.com/citations?user=WMkn2-kAAAAJ&hl=en">Olamide Oladeji</a>, S.M. '18, MIT <br>
        <a href="https://www.linkedin.com/in/raquel-de-la-orden/">Raquel de la Orden</a>, S.M. '18, IIT-Comillas <br>
        <a href="https://ieeexplore.ieee.org/author/37086994178">Cailinn Drouin</a>, S.M. '17, MIT <br>
        <a href="https://scholar.google.com/citations?user=mpJfVDEAAAAJ&hl=en">Dr. Claudio Vergara</a>, MIT Post-Doc<br>
        <a href="https://scholar.google.com/citations?user=YNwx73AAAAAJ&hl=en">Turner Cotterman</a>, S.M. '17, MIT <br>
        <a href="https://www.nrel.gov/research/amy-rose.html">Dr. Amy Rose</a>, S.M. '13, Ph.D. '17, MIT <br>

        <a href="https://www.linkedin.com/in/ivan-cortes/?originalSubdomain=mx">Ivan Cortés</a>, S.M. '16, IIT-Comillas <br>

        <a href="https://www.ethree.com/people/vivian-li/">Vivian Li</a>, S.M. '16, MIT <br>
        <a href="https://scholar.google.com/citations?hl=en&user=4gEDVRkK2ocC">Patricia Levi</a>, S.M. '16, MIT <br>
        <a href="https://www.linkedin.com/in/lilymwalenga">Lily Mwalenga</a>, S.M. '15, MIT <br>
        <a href="http://www.yaelborofsky.com/">Yael Borofsky</a>, MCP/S.M. '15, MIT <br>
        <a href="https://www.linkedin.com/in/doug-ellman-71b70071">Doug Ellman</a>, S.M. '15, MIT <br>

        <a href="https://www.linkedin.com/in/blanca-poggio-peralta-a09b3859/?originalSubdomain=es">Blanca Poggio</a>, S.M. '14. IIT-Comillas <br>
        <a href="https://www.iit.comillas.edu/personas/2463">Antonio Gómez Herrero</a>, S.M. '14. IIT-Comillas <br>

        <a href="https://www.linkedin.com/in/andycampanella/">Andy Campanella</a>, S.M. '13, MIT <br>

        <a href="https://www.linkedin.com/in/luciaramosfitera">Lucía Ramos Fitera</a>, IIT-Comillas <br>
        Cristina Urquidi, IIT-Comillas <br>
    </p>
    <br>
    <h4>Past Visiting Members</h4>
    <p>
        <a href="https://www.linkedin.com/in/dr-tatiana-grandón-038150151/">Dr. Tatiana González-Grandón</a>, IIT-Comillas (visiting postdoc) <br>
        <a href="http://payaldey.blogspot.com/">Payal Dey</a>, Ph.D. Student, IIT Delhi<br>
        <a href="https://scholar.google.com/citations?user=zcWqGIgAAAAJ&hl=en">Davide Fioriti</a>, Ph.D. Candidate, University of Pisa<br>
        <a href="https://scholar.google.com/citations?user=2_WANNIAAAAJ&hl=en">Luca Moretti</a>, Ph.D. Candidate, Politecnico di Milano <br>
        <a href="https://scholar.google.com/citations?user=ojmevNEAAAAJ&hl=en">Dr. Simone Mazzola</a>, Ph.D. '17, Politecnico di Milano <br>
    </p>
-->
</div>
</main>
